
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: auto;
}
body {
    font-size: 100%;
    background-color: #f3f3f3;
    width: 100%;
    height: auto;
}
.header {
    width: 92%;
    height: auto;
    position: relative;
    margin: 2.1875em;
    margin-left: auto;
    margin-right: auto;
}
.header_bg {
    width: 100%;
    height: auto;
}
.header_topMenu {
    display: flex;
    justify-content: space-between;
    padding: 1.4375em 1.625em 0 1.625em;
    margin: auto;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.header_topMenu_menu {
    position: relative;
    display: inline-block;
}
.dropdown {
    color: white;
    font: 0.8125em Baron Neue;
    border: none;
    cursor: pointer;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 8.875em;
    box-shadow: 0px 0.5em 1em 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown_content a {
    color: black;
    padding: 0.75em 1em;
    text-decoration: none;
    display: block;
}
.dropdown_content a:hover {
    background-color: #f1f1f1;
}
.header_topMenu_menu:hover .dropdown_content {
    display: block;
}
.about,
.works,
.web,
.skills,
.news,
.quotes,
.contact,
.footer {
    background: #f3f3f3;
    background: -webkit-linear-gradient(90deg, #f3f3f3, white);
    background: -o-linear-gradient(90deg, #f3f3f3, white);
    background: -moz-linear-gradient(90deg, #f3f3f3, white);
    background: linear-gradient(90deg, #f3f3f3, white);
    max-width: 115.625em;
    width: 92%;
    margin: auto;
}
.about {
    display: flex;
    justify-content: center;
    padding-top: 7.1em;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-bottom: 126px
}
.about_img {
    width: 50%;
    height: auto;
    margin-right: 2.875em;
    margin-left: 1em;
    margin-top: 1.0625em;
    text-align: right;
    max-width: 42.375em;
}
.about_img_img {
    width: 100%;
    height: auto;
    max-width: 42.375em;
}
.about_info {
    width: 50%;
    height: auto;
    max-width: 35.25em;
    padding-top: 1.4375em;
}
.about_info_title {
    font: 2.8125em Baron Neue;
    text-shadow: 0.25em 0.5em 1.25em #acacac;
    letter-spacing: 0.05em;
}
.about_info_title_description {
    font: 0.9375em Arial;
    letter-spacing: 0.14375em;
    line-height: 1.55em;
    padding-top: 0.4375em;
    padding-left: 0.0625em;
    padding-bottom: 1.6875em;
}
.about_info_link {
    font: 0.8125em Baron Neue;
    color: black;
    text-shadow: 4px 8px 20px #acacac;
    letter-spacing: 0.125em;
    text-decoration: none;
}
.works {
    padding-bottom: 6.875em;
    margin-bottom: 2.1875em;
    margin-top: 37px;
    padding-top: 6.4em;
    overflow: hidden;
}
.works_title {
    text-align: center;
    font: 2.25em Baron Neue;
    text-shadow: 4px 8px 20px #acacac;
    letter-spacing: 0.09em;
    margin-top: 0.5625em;
    padding-left: 0.2em;
    padding-bottom: 10px;
}
.works .works_menu{
}
.works ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 2.4375em;
    font: 0.75em Baron Neue;
}
.works ul li {
    display: inline-block;
}
.works ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 16px;
    padding-left: 12px;
    padding-right: 12px;
    letter-spacing: 0.075em;
    text-decoration: none;
}
.works_portfolio {
    max-width: 1294px;
    margin: auto;
    margin-top: 28px;
}
.works_portfolio img {
    margin: 12px;
    margin-bottom: 25px;
    display: block;
}
.grid_item{
    margin-right: 22px;
}
#grid img{
    width: 100%;
}
.web {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 92%;
    max-width: 1850px;
    padding-top: 0;
    padding-bottom: 0;
/*    tymchasovo*/
/*    padding-top: 140px;*/
}
.web_photo {
    width: 50%;
    height: auto;
    margin-bottom: auto;
    position: relative;
    max-width: 57.8125em;
}
.web_photo img {
    width: 100%;
}
.border1 {
    position: absolute;
    top: 42%;
    left: 9%;
    border: 3px solid white;
    width: 81%;
    height: 15%;
}
.border2 {
    border: 3px solid white;
    width: 101%;
    height: 104%;
    margin-top: 1.1%;
    margin-left: 1.2%;
}
.web_photo_title {
    color: white;
    font-size: 406.25%;
    font-family: Baron Neue;
    text-align: center;
    letter-spacing: 0.24em;
    box-sizing: border-box;
}
.web_photo_title span {
    vertical-align: middle;
}
.web_icons {
    width: 50%;
    margin: auto;
    margin-top: 103px;
}
.web_icons_group {
    margin: auto;
    max-width: 629px;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.web_icon_item {
    text-align: center;
    font: 0.875em Baron Neue;
    margin-bottom: 41px;
    width: 240px;
}
.web_icons_item1_desc {
    text-shadow: 4px 8px 20px #acacac;
    margin-top: 30px;
    letter-spacing: 0.14125em;
}
.web_icons_item1 {
    margin-top: 36px;
}
.web_icons_item1_desc {
}
.web_icons_item2 {
    margin-top: 42px;
}
.web_icons_item2 img {
}
.web_icons_item2_desc {
    text-shadow: 4px 8px 20px #acacac;
    margin-top: 30px;
    letter-spacing: 0.11875em;
}
.web_icons_item3 {
    margin-top: 42px;
}
.web_icons_item3 img {
}
.web_icons_item3_desc {
    text-shadow: 4px 8px 20px #acacac;
    margin-top: 24px;
    letter-spacing: 0.1em;
}
.web_icons_item4 {
    margin-top: 42px;
}
.web_icons_item4_desc {
    text-shadow: 4px 8px 20px #acacac;
    letter-spacing: 0.075em;
    margin-top: 23px;
}
.web_icons_item5 {
    margin-top: 39px;
}
.web_icons_item5 img {
}
.web_icons_item5_desc {
    text-shadow: 4px 8px 20px #acacac;
    margin-top: 20px;
    letter-spacing: 0.1125em;
}
.web_icons_item6 {
    margin-top: 42px;
}
.web_icons_item6 img {
}
.web_icons_item6_desc {
    text-shadow: 4px 8px 20px #acacac;
    margin-top: 20px;
    letter-spacing: 0.1em;
}
.web_icons_item1,
.web_icons_item2,
.web_icons_item3,
.web_icons_item4,
.web_icons_item5,
.web_icons_item6
{
}
.web_icons_item2,
.web_icons_item4,
.web_icons_item6 {}
.article {
    margin: auto;
    width: 98%;
    margin-top: 172px;
    margin-bottom: 120px;
}
.wrap{
    justify-content: center;
    display: flex;
}
.article_item1,
.article_item2,
.article_item3,
.article_item4 {
    max-width: 425px;
    display: flex;
    flex-direction: row;
    padding-bottom: 13px;
}
.article_item1_photo {
    margin-top: 78px;
    padding-left: 3px;
}
.article_item1_description {
    margin-top: 41px;
    margin-left: 28px;
}
.article_item1_title {
    font: 0.875em Baron Neue;
    letter-spacing: 0.10625em;
    margin-bottom: 0;
}
.article_item2_photo {
    margin-top: 28px;
    padding-left: 3px;
}
.article_item2_title,
.article_item3_title,
.article_item4_title {
    font: 0.875em Baron Neue;
    letter-spacing: 0.10625em;
    margin-bottom: 0;
    margin-top: 1px;
}
.article_item2_description {
    margin-top: 23px;
    margin-left: 28px;
}
.c1,
.c2,
.c3,
.c4 {
    font: 0.9375em Arial;
}
.c1,
.c2 {
    margin-top: 6px;
    line-height: 23.45px;
    letter-spacing: 0.14875em;
    line-height: 1.465625em;
}
.c2 {
    letter-spacing: 0.18125em;
}
.c4,
.c3 {
    margin-top: 7px;
    line-height: 1.46875em;
    letter-spacing: 0.14875em;
}
.phone {
    padding-left: 7px;
}
.colum1 {
    padding-left: 7px;
}
.article_item3,
.article_item4 {
    text-align: right;
}
.article_item3 {
    margin-top: 42px;
    margin-bottom: 5px;
}
.article_item3_photo {
    margin-top: 36px;
    margin-right: 11px;
}
.article_item3_description {
    margin-top: 30px;
    margin-right: 19px;
}
.article_item4_description {
    margin-right: 20px;
    margin-top: 18px;
}
.article_item4_photo {
    margin-top: 23px;
    margin-right: 11px;
}
.skills {
    padding-top: 83px;
    padding-bottom: 90px;
    margin-top: 28px;
}
.skills_title {
    text-shadow: 4px 8px 20px #acacac;
    text-align: center;
    padding-left: 2px;
    font-size: 2.8125em;
    font-family: Baron Neue;
    letter-spacing: 0.05em;
}
.skills_description {
    text-shadow: 4px 8px 20px #acacac;
    width: 98%;
    margin: auto;
    margin-top: 77px;
    font-size: 14px;
    font-family: Baron Neue;
    letter-spacing: 0.100625em;
    padding-left: 14.7%;
    padding-right: 14%;
}
.skills_description_item {
    max-width: 1270px;
    height: 35px;
    margin-top: 34px;
    margin-bottom: 46px;
    background-color: #f3f3f3;
}
#design_bar, #js_bar, #css_bar{
    text-align: right;
    width: 2%;
    height: 100%;
    background: black;
    color: white;
    line-height: 30px;
    padding-right: 2%;
}
.news {
    padding-top: 79px;
    padding-bottom: 120px;
}
.news_title {
    text-shadow: 4px 8px 20px #acacac;
    text-align: center;
    font-size: 2.8125em;
    font-family: Baron Neue;
    padding-left: 6px;
    letter-spacing: 0.05em;
}
.news_articles {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 67px;
    letter-spacing: 0.08125em;
    display: flex;
    flex-wrap: wrap;
}
.articles {
    max-width: 407px;
    margin-top: 0px;
    margin-right: 23px;
}
.pencil {
    margin-right: 0;
}
.author {
    margin-right: 27px;
    margin-left: 3px;
    letter-spacing: 0.1125em;
}
.calendar {
    margin-right: 10px;
}
.date {
    letter-spacing: 0.11875em;
}
.articles h6 {
    font: 0.875em Baron Neue;
    margin-bottom: -5px;
    margin-top: 15px;
    letter-spacing: 0.1em;
}
.p {
    font: 0.875em Arial;
    margin-top: 11px;
    letter-spacing: 0.093125em;
    line-height: 1.375em;
    margin-bottom: 31px;
}
.l {
    color: dimgray;
    text-decoration: none;
    font: 0.8125em Baron Neue;
    margin-top: 30px;
    letter-spacing: 0.11875em;
    text-shadow: 4px 8px 20px #acacac;
}
.f1 {
    margin: 14px;
    margin-left: 11px;
}
.f {
    font: 13px Arial;
    color: slategray;
    margin: 0;
    margin-top: 12px;
}
.quotes {
    background-image: url(../image/quotesbg.png);
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 32px;
}
.quotes_main {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.quotes_asideleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-left: 7.5%;
    padding-right: 7.5%;
}
.quotes_slider {
    font: 1.3125em Arial;
    font-weight: bold;
    line-height: 1.7em;
    letter-spacing: 0.184375em;
    text-align: center;
    padding-top: 0;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 0px;
    text-align: center;
}
.slideshow {
}
.quotes_slider p {
    padding-left: 62px;
    margin-bottom: 0;
}
.quote {
    background-image: url(../image/write42.png);
    background-repeat: no-repeat;
    margin:auto;
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
}
.quotes_button {
    margin: auto;
    margin-top: 104px;
    width: 129px;
    display: flex;
    justify-content: space-between;
}
.quotes_button_1 {
    width: 8px;
    height: 8px;
    background-color: black;
}
.quotes_button_square {
    width: 8px;
    height: 8px;
    background-color: #bbb;
}
.quotes_button_square {
    display: inline-block;
    transition: background-color 0.6s ease;
    background-color: #bbb;
}
.active {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
.quotes_picture {
    width: 50%;
/*    height: 799px;*/
    height: auto;
    position: relative;
}
.quotes_picture img{
    width: 100%;
    height: auto;
}
.quotes_picture_border1 {
    position: absolute;
    top: 10.5%;
    left: 16.5%;
    width: 66%;
    height: 76%;
    border: 3px solid white;
}
.quotes_picture_border2 {
    width: 100.5%;
    height: 101%;
    border: 3px solid white;
    margin-top: 1%;
    margin-left: 1%;
}
.title {
    color: white;
    font-size: 406.25%;
    font-family: Baron Neue;
    text-align: center;
    letter-spacing: 0.08em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.title span{
    align-self: center;
/*    height: 100%;*/
}
.contact {
    padding-top: 82px;
    margin-top: 35px;
}
.contact_title {
    text-shadow: 4px 8px 20px #acacac;
    text-align: center;
    font: 45px Baron Neue;
    letter-spacing: 2.4px;
}
.contact_form {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    padding-left: 24%;
    padding-right: 24%;
    padding-bottom: 7.3%;
}
.name,
.surname {
    width:48%;
    color: rgb(192, 192, 192);
    margin-bottom: 38px;
}
.contact_form_fname {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.name {
    margin-right: 31px;
}
input,
textarea {
    background-color: rgb(239, 239, 239);
    border: none;
    color: rgb(192, 192, 192);
    letter-spacing: 2px;
    padding: 25px;
    width: 100%;
}
textarea, .email{
     width: 100%;
}
input[placeholder] {
    font: 14px Baron Neue;
    color: rgb(192, 192, 192);
}
input:-moz-placeholder {
    font: 14px Baron Neue;
    color: rgb(192, 192, 192);
}
input:-moz-placeholder {
    font: 14px Baron Neue;
    color: rgb(192, 192, 192);
}
input:-ms-input-placeholder {
    font: 14px Baron Neue;
    color: rgb(192, 192, 192);
}
textarea[placeholder] {
    font: 14px Baron Neue;
    color: rgb(192, 192, 192);
}
textarea:-moz-placeholder {
    font: 14px Baron Neue;
    color: rgb(192, 192, 192);
}
textarea:-moz-placeholder {
    font: 14px Baron Neue;
    color: rgb(192, 192, 192);
}
textarea:-ms-text-placeholder {
    font: 14px Baron Neue;
    color: rgb(192, 192, 192);
}
.mail {
    margin-bottom: 38px;
}
.mail,
.message {
     width: 100%;
}
.message {
    margin-bottom: 11px;
}
.button_submit {
    background-color: transparent;
    font: 14px Baron Neue;
    text-shadow: 4px 8px 20px #acacac;
    color: rgb(192, 192, 192);
    letter-spacing: 2px;
    padding-left: 33px;
}
.button_submit input[type="submit"]{
    text-align: left;
}
.footer {
    padding-top: 40px;
    padding-bottom: 22px;
    margin-top: 35px;
}
.footer_content {
    margin: auto;
    width: 68.8%;
    display: flex;
    justify-content: space-between;
}
.footer_asideleft {
    font: 14px Arial;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}
.social {
    display: flex;
    flex-direction: row;
}
.twiter {
    width: 27px;
    height: 19px;
    margin-left: 1px;
    background: url('../image/socials.png') 0 0;
}
.facebook {
    width: 20px;
    height: 16px;
    background: url('../image/socials.png') -26px 0;
}
.be {
    width: 21px;
    height: 19px;
    margin-left: 12px;
    background: url('../image/socials.png') -59px 0;
}
.design {
    font: 14px Arial;
    margin-top: 9px;
    letter-spacing: 1.9px;
}
.footer_asideright {
    margin-top: 8px;
}

.column { float: left; }
.size-1of3 { width: 33.333%; }
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}
/* and (min-width: 769px)*/
@media screen and (max-width: 1200px){
    .phone{
        display: none;
    }
    input[type="text"],textarea{
         width: 100%;
    }
    #grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
    .web{
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .web_photo{
        width: 100%;
    }
    .web_icons{
        width: 100%;
    }
    .quotes_asideleft{
        width: 100%;
    }
     .quotes_picture{
        width: 100%;
    }
    .name,.surname{
        width: 100%;
        margin-right: 0;
    }
}
/*and (min-width: 481px) */
@media screen and (max-width: 768px) {
    .header_topMenu_logo img {
        width: 50%;
    }
    .header_topMenu_menu img {
        width: 50%;
        float: right;
    }
    .name,
    .surname {
    width:100%;
    }    
    .wrap{
    display: flex;
    flex-wrap: wrap;
    } 
    #grid[data-columns]::before {
    content: '2 .column.size-1of2';
	}
    .title{
    font-size: 306.25%;
    }
}
@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}
